{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Doc4you</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
    <main class="m-5  row justify-content-center">
      <div class="card text-center p-0" style="width: 30rem;">
        <img src="{% static 'images/banner.png' %}" class="card-img-top">
        <div class="card-body">
          <h1 class="card-title">Doc4you</h1>
          {% if user.is_authenticated %}
          <a href="{% url 'home' %}" class="btn btn-primary m-1">Inicio</a><br>
          <a href="{% url 'crear_doc' %}" class="btn btn-primary m-1">Ingresa Tus Documentos</a><br>
          <a href="{% url 'doc_lista' %}" class="btn btn-primary m-1">Tus Documentos</a><br>
          <a href="{% url 'logout' %}" class="btn btn-primary m-1 bg-danger">Cerrar Sesión</a><br>
          {% else %}
          <a href="{% url 'home' %}" class="btn btn-primary m-1">Inicio</a><br>
          <a href="{% url 'login' %}" class="btn btn-primary m-1">Iniciar Sesión</a><br>
          <a href="{% url 'crear_usuario' %}" class="btn btn-primary m-1">Crear Usuario</a><br>
          {% endif %}
          {% block content %} {% endblock %}
        </div>
      </div>

    </main>
    <main></main>

    <footer>
      <!-- Contenido del pie de página -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
